{form form}
    <div class="form-group">
        {label question /}
        {input question}
    </div>

    <div class="form-group">
        <label class="col-form-label">Answers (choose one correct option)</label>
        <div class="input-group" n:foreach="$form['options']->getContainers() as $id => $option">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    {input correctAnswer:$id}
                </div>
            </div>
            {input options-$id-option}
            <div class="input-group-append">
                {input options-$id-removeOption}
            </div>
        </div>
    </div>

    {input options-addOption}
    {input save}
{/form}