{form form}
    <div class="form-group">
        {label username/}
        {input username}
    </div>
    <div class="form-group">
        {label password/}
        {input password}
    </div>
    {input submit}
{/form}