html
  font: normal 18 px / 1.3 Georgia, "New York CE", utopia, serif
  color: #666
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0)
  overflow-y: scroll


body 
  background: #3484d2
  color: #333
  margin: 2em auto
  padding: 0.5em
  max-width: 600px
  min-width: 320px


a 
  color: #006aeb
  padding: 3px 1px


a:hover, a:active, a:focus
  background-color: #006aeb
  text-decoration: none
  color: white
  

#banner
  border-radius: 12px 12px 0 0

#user-box
  background: #459df3
  border: 1px solid #1e81ba
  padding: 5px 4%
  overflow: hidden
  margin: 0 0 5px 0
  color: white

  a
    color: white

.question
  margin: 5px 0

h1
  font: inherit
  color: white
  font-size: 50px
  line-height: 121px
  margin: 0
  padding-left: 4%
  background-size: 130px auto
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .9)
  
#content
  background: white
  border: 1px solid #eff4f7
  border-radius: 0 0 12px 12px
  padding: 10px 4%
  overflow: hidden

h2
  font: inherit
  padding: 1.2em 0
  margin: 0

img
  border: none
  float: right
  margin: 0 0 1em 3em
