<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{include title|stripHtml} | Questionnaire</title>
	<link rel="stylesheet" href="{webpack backend.css}">
</head>

<body>
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">{$flash->message}</div>

	<div id="banner">
		<h1>{include title}</h1>
	</div>

	{control userBox}

	<div id="content">
		{include content}
	</div>

	{block scripts}
		<script src="{webpack backend.js}"></script>
	{/block}
</body>
</html>
