{form form}
    <p class="font-weight-bold question">{$question}</p>
    <div n:foreach="$form['questionOption']->getItems() as $id => $option" class="form-check">
        {input questionOption:$id class => 'form-check-input'}
        {label questionOption:$id class => 'form-check-label'/}
    </div>

    {input save}
{/form}