<div class="progress">
    <div
            n:foreach="$answeredQuestions as $answer"
            n:class="'progress-bar', $answer->getChoosenOption()->isCorrectOption() ? 'bg-success' : 'bg-danger'"
            style="width: 10%"
    >
        {if $answer->getChoosenOption()->isCorrectOption()}✔{else}❌{/if}
    </div>
</div>