<div id="user-box">
    <div class="row">
        <div class="col">
            {if $isEditor}
                Logged as editor
            {else}
                User code: {$appUser->code}
            {/if}
        </div>
        <div class="col text-right">
            {if ! $isEditor}<a href="{plink AnsweredQuestionsList:}">Answers</a> | {/if}<a n:href="logout!">Logout</a>
        </div>
    </div>
</div>