{foreach $userAnswers as $userAnswer}
    {var $question = $userAnswer->getChoosenOption()->getQuestion()}
    {if $iterator->counter%2 === 1}<div class="row">{/if}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{$question->getQuestion()}</h5>
                    <ul class="list-group">
                        <li
                                n:foreach="$question->getOptions() as $option"
                                class="list-group-item {$option|questionOptionClass:$userAnswer->getChoosenOption()}"
                        >
                            {$option->getOption()}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {if $iterator->counter%2 === 0 || $iterator->isLast()}</div>{/if}
{/foreach}
{if ! $userAnswers}
    <p>No answers yet.</p>
{/if}